{% extends 'base.html' %}

{% block title %}Prices{% endblock %}

{% block body %}
    <div class="card">
        <br/><a class="text-center" href="{% url 'accounts:profile' request.user.id %}?price={{ 30 }}">bye for month</a><br/><hr/>
        <br/><a class="text-center" href="{% url 'accounts:profile' request.user.id %}?price={{ 20 }}">bye for 20 days</a><br/><hr/>
        <br/><a class="text-center" href="{% url 'accounts:profile' request.user.id %}?price={{ 10 }}">bye for 10 days</a><br/><hr/>
    </div>
{% endblock %}